@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", sans-serif;
}
.btn-primary{
    background-color: #ff900e;
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
header{
    background-color: rgb(255, 245, 231);
}
nav{
    display: flex;
    padding: 50px 150px;
    justify-content: space-between;
}
.header-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display:flex;
    align-items: center;
 
}
nav ul li{
    list-style: none;
    margin: 0 30px;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #424242;
}
.banner{
    max-width: 870px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}
.banner img{
    max-width: 100%;
    margin: 20px auto;
    
}
main{
    max-width: 1440px;
    margin: auto;
}
.teames-container{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 30px 0;
}
.teames-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teames-content-title{
    font-size: 4rem;

}
.quick-list{
    font-weight: 500;
    color:#727272 ;
}
.of-our{
    font-weight: 700;
    color: #131313;
}
.features{
    font-weight: 700;
    color:#FF900E ;
}
.teames-content-description{
    font-size: 1rem;
    font-weight: 400;
    color:#727272 ;
}
.card{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 30px 0;
    gap: 1rem;
}
.facts-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px;
    
}
.facts-card-title{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0;
}
.facts-card-description{
    color:#727272 ;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}
.sponser{
    text-align: center;
    margin: 30px 0;
}
.sponser-image{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 1.5rem;
    
}
footer{
    max-width: 1440px;
    margin: 20px auto;
    background-color:#FFF4E7 ;
    margin-bottom: 40px;
}
.footer-description{
    font-size: 1.25rem;
    color:#424242 ;
    text-align: center;
    padding: 20px;
}
.features{
    display: flex;
    gap: 1.5rem;
    margin-top: 50px;

}
#features-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.features-content{
    margin: 15px;
}
.card-features{
    padding: 40px;
   
}
.features-card{
    margin: 45px 0;
}
.features-tilte{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
}
.features-image img{
    height: 90%;
    margin-left:50px ;
}
.ten-year-badge{
    color: white;
    background-color: #FF900E;
    margin: 0;
    text-align: center;
    width: 342px;
    padding: 40px;
    border-radius: 8px;
    position: relative;
    bottom: 100px;
}
.ten-year-badge h2{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}
.ten-year-badge p{
    font-size: 1.5rem;
    font-weight: 500;
}
/*  responsive */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        padding: 5px;
        text-align: center;
    }
    .header-title{
        font-size: 3rem;
    }
    nav ul li{
        margin-bottom: 20px;
    }
    nav > ul{
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
       
    }
    .teames-container,
    .card,
    .features,
    .sponser-image
    {
        flex-direction: column;
    }
    .teames-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .banner-title{
        font-size: 3rem;
    }
    /* .features-image{
        width: 100%;
        margin: auto;
    } */
    .features-image img{
        max-width: 90%;
        margin-left: 0;
        
        
    }
    .ten-year-badge{
        position: static;
        width: 300px;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    nav{
        flex-direction: column;
        padding: 5px;
        text-align: center;
    }
    nav ul li{
        max-width: 100%;
        margin: 0 auto;
       
    }
    .teames-container,
    .sponser-image,
    .features
    {
        flex-direction: column;
    }
}